body {
    background-color: #f0ede5;
    font-family: 'Open Sans';
    margin: 0px;
    height: 100%;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

.gallery {
    position: relative;
    width: 80%;
    margin-left: 10%;
}

.slide {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #fcfbfa;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(149, 132, 86, .8);
}

.numberSlide {
    color: #fcfbfa;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: #958456;
    padding: 2px 16px;
    color: #fcfbfa;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}

.active, .demo:hover {
    opacity: 1;
}

.header {
    padding: 50px;
    text-align: center;
    height: 100%;
}

#headshot {
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #958456;
}

.externalProfiles {
    padding: 20px;
    background-color: #958456;
    border-radius: 10px;
    margin: 0 auto;
    width: fit-content;
}

.externalProfiles a {
    background-color: #bdb08c;
    padding: 10px;
    border-radius: 10px;
    color: #f0ede5;
    text-decoration: none;
}

.externalProfiles img {
    width: 32px;
    padding-right: 5px;
}

.aboutMe {
    padding: 50px;
    text-align: center;
    height: 100%;
    background-color: #dfd9c7;
}

.projects {
    padding: 50px;
    height: 100%;
    background-color: #cec4aa;
}

.projects h1 {
    text-align: center;
}